
graph_networkx_louvain.py
*.py
*.jpg
Niri/.ipynb_checkpoints/Norske aviser 1800-tall-checkpoint.ipynb
Galakser som embedding/uio_model/meta.json
Galakser som embedding/uio_model/model.bin
Galakser som embedding/uio_semantics.csv
Galakser som embedding/uio_model/model.txt
Nynorsk/.ipynb_checkpoints/nno_korpus-checkpoint.ipynb
Nynorsk/.ipynb_checkpoints/nno_korpus-checkpoint.ipynb
Nynorsk/.ipynb_checkpoints/nno_korpus-checkpoint.ipynb
eKul/avis_agg_sample_20.json
Barnebokinstituttet_prosjekt/corpus_text_document_term_matrix.csv
reOCR/.ipynb_checkpoints/hocr2txt-checkpoint.ipynb
reOCR/.ipynb_checkpoints/MARC_URN-checkpoint.ipynb
.~lock.hamsun_bibliografi.xls#
hamsun_bibliografi.xls
Aviser_NB_API/.ipynb_checkpoints/aviser_bokhyllla_api_nye-checkpoint.ipynb
.ipynb_checkpoints/Untitled8-checkpoint.ipynb
*.pyc
ordbank/ordbank.db
ordbank/ordbank_nno.db
ordbank/sakspapir_nno_01.json
sakspapir_nno_01.json
N-grammer-dhlab-v2/.ipynb_checkpoints/Untitled-checkpoint.ipynb
DHlab_språkbanken/.ipynb_checkpoints/dhlab-checkpoint.ipynb
DHlab_språkbanken/.ipynb_checkpoints/css-checkpoint.css
